{% extends "base.html" %}

{% block page_content %}
<h3>Category</h3>

<ul style="list-style-type:none; padding: 0">
{% for category in categories %}
<li>
	<a href="/challenges/category/{{category}}" style="display: block">
		<div style="margin-top:5px; background-color: #323232; padding: 10px; text-decoration: none;">
		  {{category}}
		</div>
	</a>
</li>
{% endfor %}
</ul>

<form method="post" action="/"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /></form>
{% endblock %}
