{% extends "base.html" %}

{% block page_content %}
<h3>Available Challenges</h3>

<ul style="list-style-type:none; padding: 0">
{% for challenge in challenges %}
<li>
	<a href="/challenge/{{challenge.name}}" style="display: block; text-decoration: none">
	<div style="margin-top:5px; background-color: #323232; padding: 10px; ">
	  {{challenge.name}} {{ '(solved)' if challenge.id ~ '' in current_user.solved.split(',') else '' }} 
	  <ul style="list-style-type:none; color: #FFF">
	    <li>Score: {{challenge.score}}</li>
	    <li>Solves: {{challenge.solves}}</li>
	    <!-- <li>Category: {{challenge.category}}</li> -->
	  </ul>
	</div>
	</a>
</li>
{% endfor %}
</ul>

<form method="post" action="/"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /></form>
{% endblock %}
