{% extends "base.html" %}

{% block page_content %}
<h2>agrihack CTF</h2>
<p>
  Kontes <i>Capture The Flag</i> tahunan yang diadakan oleh Cyber Security IPB. </p>
</p>

<h2>Getting Started</h2>
<p>
  Klik 'Log In' pada menu navigator, lalu login menggunakan akun IPB.<br>
<p>
<p>
  agrihack{w3lc0m3_t0_4gr1h4ck}
</p>
<p>
	Score bersifat dinamis, artinya semakin banyak yang menyelesaikan soal akan semakin kecil poinnya.
</p>

<h2>Rules</h2>
<ul>
  <li>Dilarang bekerja sama<br></li>
  <li>Dilarang berbagi flag</li>
  
</ul>

<h2> Contact </h2>
Bagi yang ingin bertanya seputar agrihack dan hal teknis soal, bisa hubungi kontak di bawah: 
<ul>
    <li><a href="https://facebook.com/cysecipb">facebook</a></li>
</ul>


<form method="post" action="/"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /></form>
{% endblock %}
