{% extends "base.html" %}
{% block page_content %}
<h3>Scoreboard</h3>

<p>Hello, {{ current_user.nama }}, your rank is {{ ranking }}.</p>

<style>
table, th, td {
  border-collapse: collapse;
  border: 1px solid black;
}
th, td {
  padding-left: 15px;
  padding-right: 15px;
}
.color>tr:nth-child(n){
  background: green;
}
</style>
<table class="color">
    <tr>
        <td>#</td>
        <td style="min-width: 80%;">Name</td>
        <td>Score</td>
    </tr>
   {% for user in users %}
      {% if(users.index(user)<3) %}
    <tr style="background-color: #41D600">
      {% endif %}
      {% if(users.index(user)>2 and users.index(user)<5) %}
    <tr style="background-color: #B6D600">
      {% endif %}
      {% if(users.index(user)>4 and users.index(user)<10) %}
    <tr style="background-color: #D6CC00">
      {% endif %}
      {% if(users.index(user)>9) %}
    <tr style="background-color: #7C7C7C">
      {% endif %}
        <td>{{ users.index(user)+1 }}</td>
        <td>{{ user.nama }} ({{ user.nim }})</td>
        <td>{{ user_score(user) }}</td>
    </tr>
    {% endfor %}

</table>
<form method="post" action="/"><input type="hidden" name="csrf_token" value="{{ csrf_token() }}" /></form>
{% endblock %}


